In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import glob

In [3]:
# Unzip all csv files
unzipped = glob.glob('NYCBike_unzipped/*.csv')

In [4]:
# Column names in each cvs file not the same.  Rename them so they are the same.  
rename_dict = {'bikeid': 'Bike ID',
 'birth year': 'Birth Year',
 'end station id': 'End Station ID',
 'end station latitude': 'End Station Latitude',
 'end station longitude': 'End Station Longitude',
 'end station name': 'End Station Name',
 'gender': 'Gender',
 'start station id': 'Start Station ID',
 'start station latitude': 'Start Station Latitude',
 'start station longitude': 'Start Station Longitude',
 'start station name': 'Start Station Name',
 'starttime': 'Start Time',
 'stoptime': 'Stop Time',
 'tripduration': 'Trip Duration',
 'usertype': 'User Type'}

In [5]:
def combine_df(files, smpl_frac = 0.25):
    '''
    Given an array of csv files, sample part of each csv and concatenate the samples into a master dataframe
    
    Parameters:  
    files (array of strings): csv file names to be sampled and concatenated
    smpl_frac (float):  a number between 0 and 1 of what percent you want each file in files to be sampled
    
    Returns:
    df (pandas df): a dataframe combining all the sampled data from each file
    '''
    df = pd.DataFrame()
    for file in files:
        tmp = pd.read_csv(file)
        tmp.rename(columns = rename_dict, inplace = True)
        tmp = tmp.sample(frac = smpl_frac, replace = False)
        print(file, tmp.shape)
        df = pd.concat([df, tmp], axis = 0)
    return df

In [6]:
# The csv files from 01/2017 to 12/2018
unzipped[43:-4]

['NYCBike_unzipped\\201701-citibike-tripdata.csv',
 'NYCBike_unzipped\\201702-citibike-tripdata.csv',
 'NYCBike_unzipped\\201703-citibike-tripdata.csv',
 'NYCBike_unzipped\\201704-citibike-tripdata.csv',
 'NYCBike_unzipped\\201705-citibike-tripdata.csv',
 'NYCBike_unzipped\\201706-citibike-tripdata.csv',
 'NYCBike_unzipped\\201707-citibike-tripdata.csv',
 'NYCBike_unzipped\\201708-citibike-tripdata.csv',
 'NYCBike_unzipped\\201709-citibike-tripdata.csv',
 'NYCBike_unzipped\\201710-citibike-tripdata.csv',
 'NYCBike_unzipped\\201711-citibike-tripdata.csv',
 'NYCBike_unzipped\\201712-citibike-tripdata.csv',
 'NYCBike_unzipped\\201801-citibike-tripdata.csv',
 'NYCBike_unzipped\\201802-citibike-tripdata.csv',
 'NYCBike_unzipped\\201803-citibike-tripdata.csv',
 'NYCBike_unzipped\\201804-citibike-tripdata.csv',
 'NYCBike_unzipped\\201805-citibike-tripdata.csv',
 'NYCBike_unzipped\\201806-citibike-tripdata.csv',
 'NYCBike_unzipped\\201807-citibike-tripdata.csv',
 'NYCBike_unzipped\\201808-citibike-tripdata.csv',
 'NYCBike_unzipped\\201809-citibike-tripdata.csv',
 'NYCBike_unzipped\\201810-citibike-tripdata.csv',
 'NYCBike_unzipped\\201811-citibike-tripdata.csv',
 'NYCBike_unzipped\\201812-citibike-tripdata.csv']

In [8]:
combined_df = combine_df(unzipped[43:-4], smpl_frac = 0.1)

NYCBike_unzipped\201701-citibike-tripdata.csv (72668, 15)
NYCBike_unzipped\201702-citibike-tripdata.csv (79165, 15)
NYCBike_unzipped\201703-citibike-tripdata.csv (72766, 15)
NYCBike_unzipped\201704-citibike-tripdata.csv (131540, 15)
NYCBike_unzipped\201705-citibike-tripdata.csv (152327, 15)
NYCBike_unzipped\201706-citibike-tripdata.csv (173159, 15)
NYCBike_unzipped\201707-citibike-tripdata.csv (173560, 15)
NYCBike_unzipped\201708-citibike-tripdata.csv (181650, 15)
NYCBike_unzipped\201709-citibike-tripdata.csv (187810, 15)
NYCBike_unzipped\201710-citibike-tripdata.csv (189759, 15)
NYCBike_unzipped\201711-citibike-tripdata.csv (133065, 15)
NYCBike_unzipped\201712-citibike-tripdata.csv (88997, 15)
NYCBike_unzipped\201801-citibike-tripdata.csv (71899, 15)
NYCBike_unzipped\201802-citibike-tripdata.csv (84311, 15)
NYCBike_unzipped\201803-citibike-tripdata.csv (97667, 15)
NYCBike_unzipped\201804-citibike-tripdata.csv (130754, 15)
NYCBike_unzipped\201805-citibike-tripdata.csv (182471, 15)
NYCBike_unzipped\201806-citibike-tripdata.csv (195310, 15)
NYCBike_unzipped\201807-citibike-tripdata.csv (191362, 15)
NYCBike_unzipped\201808-citibike-tripdata.csv (197718, 15)
NYCBike_unzipped\201809-citibike-tripdata.csv (187788, 15)
NYCBike_unzipped\201810-citibike-tripdata.csv (187866, 15)
NYCBike_unzipped\201811-citibike-tripdata.csv (126036, 15)
NYCBike_unzipped\201812-citibike-tripdata.csv (101650, 15)

In [9]:
combined_df.shape

(3391298, 15)

In [10]:
combined_df.head().T

,62650,476003,525273,212919,704070
Trip Duration,605,936,1324,1133,1966
Start Time,2017-01-04 17:29:06,2017-01-21 23:35:23,2017-01-24 22:22:37,2017-01-12 08:15:57,2017-01-31 07:34:53
Stop Time,2017-01-04 17:39:11,2017-01-21 23:50:59,2017-01-24 22:44:42,2017-01-12 08:34:50,2017-01-31 08:07:40
Start Station ID,341,466,268,120,344
Start Station Name,Stanton St & Mangin St,W 25 St & 6 Ave,Howard St & Centre St,Lexington Ave & Classon Ave,Monroe St & Bedford Ave
Start Station Latitude,40.7178,40.744,40.7191,40.6868,40.6851
Start Station Longitude,-73.9763,-73.9914,-73.9997,-73.9593,-73.9538
End Station ID,3263,3142,409,3364,312
End Station Name,Cooper Square & E 7 St,1 Ave & E 62 St,DeKalb Ave & Skillman St,Carroll St & 5 Ave,Allen St & Stanton St
End Station Latitude,40.7292,40.7612,40.6906,40.6752,40.7221
End Station Longitude,-73.9909,-73.9609,-73.9564,-73.9815,-73.9891
Bike ID,26424,16944,25176,25000,18221
User Type,Subscriber,Subscriber,Subscriber,Subscriber,Subscriber
Birth Year,1973,1973,1983,1980,1967
Gender,2,1,1,1,2

In [11]:
combined_df.to_csv('bikes_10.csv', index = False)

In [12]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3391298 entries, 62650 to 32651
Data columns (total 15 columns):
Trip Duration              int64
Start Time                 object
Stop Time                  object
Start Station ID           float64
Start Station Name         object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID             float64
End Station Name           object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                    int64
User Type                  object
Birth Year                 float64
Gender                     int64
dtypes: float64(7), int64(3), object(5)
memory usage: 414.0+ MB

In [13]:
combined_df.describe()

,Trip Duration,Start Station ID,Start Station Latitude,Start Station Longitude,End Station ID,End Station Latitude,End Station Longitude,Bike ID,Birth Year,Gender
count,3.391298e+06,3.391050e+06,3.391298e+06,3.391298e+06,3.391050e+06,3.391298e+06,3.391298e+06,3.391298e+06,3.228245e+06,3.391298e+06
mean,1.005060e+03,1.477496e+03,4.073706e+01,-7.398357e+01,1.469052e+03,4.073671e+01,-7.398372e+01,2.521054e+04,1.978955e+03,1.136305e+00
std,2.049510e+04,1.400395e+03,4.407566e-02,5.968771e-02,1.399095e+03,5.394568e-02,8.241892e-02,5.982479e+03,1.186829e+01,5.527479e-01
min,6.100000e+01,7.200000e+01,0.000000e+00,-7.403423e+01,7.200000e+01,0.000000e+00,-7.405570e+01,1.452900e+04,1.885000e+03,0.000000e+00
25%,3.650000e+02,3.690000e+02,4.071775e+01,-7.399596e+01,3.680000e+02,4.071757e+01,-7.399601e+01,1.936400e+04,1.969000e+03,1.000000e+00
50%,6.130000e+02,4.970000e+02,4.073818e+01,-7.398672e+01,4.960000e+02,4.073726e+01,-7.398692e+01,2.663900e+04,1.982000e+03,1.000000e+00
75%,1.068000e+03,3.167000e+03,4.075669e+01,-7.397412e+01,3.167000e+03,4.075641e+01,-7.397493e+01,3.024400e+04,1.988000e+03,1.000000e+00
max,1.951005e+07,3.721000e+03,4.550636e+01,0.000000e+00,3.721000e+03,4.550636e+01,0.000000e+00,3.580600e+04,2.002000e+03,2.000000e+00